<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-6 offset-3"><br>
            <h3>Creating A new Listing</h3><br>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="listing[title]" placeholder="Enter the catchy title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid title.
                    </div>
                </div>
        
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" id="description" required></textarea>
                    <div class="invalid-feedback">
                        Please enter a short description.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="listing[image]" id="image" class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" name="listing[price]" id="price" class="form-control" placeholder="Ex: 12,000" required>
                        <div class="invalid-feedback">
                            Please provide a valid price.
                        </div>
                    </div>
            
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" id="country" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a valid country, e.g., India.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" id="location" placeholder="Ex: Bangalore, Kolkata" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-1">Add</button>
                </div>
            </form>
        </div>
    </div>